Article{
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  margin: 21px 0;
}

div.panel-image{
  width: 100%;
  max-height: 360px;
  overflow: hidden;
  /* display: relative; */
  /* opacity: 1; */
}
/* @keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
} */

Article img{
  width: 100%;
  height: auto;
  opacity: 1;
  margin-top: calc(3 * var(--base-unit));
  /* animation: fade 1s cubic-bezier(0.65, 0.05, 0.36, 1); */
  /* animation-delay: 3s; */
}



div.panel-links{
  /* transform: translateY(-100%); */
  height: calc(13 * var(--base-unit));
  display: flex;
  justify-content: flex-end;
  margin-top: calc(-13 * var(--base-unit));
  z-index: 2
}

a.panel-link {
  display: inline-block;
  background: black;
  width: 36px;
  height: 36px;
  margin: 8px 8px;
}
