.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

main{
  max-width: 600px;
  margin: 0 auto;
}

.main-header {
  background-color: #777;
  padding: 8px 16px;
  color: white;
  width: 100vw;
}

.main-title {
  max-width: 600px;
  margin: 0 auto;
}

.intro-text {
  font-size: large;
}

h1{
  font-size: 56px;
  font-weight: 100;
}
h2{
  font-size: 36px;
  font-weight: normal;
  padding: 0 16px;
}
h3{
  font-size: 20px;
  font-weight: lighter;
}
h4{
  font-size: 12px;
  font-weight: bold;
}
p{ font-size: 12px;}
caption{
  font-size: 12px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
