.App {
  text-align: left;
  width: 100%
}

.mobile-text{
  padding: 0 var(--mobile-text-margin);
  width: calc(100% - calc(2 * var(--mobile-text-margin)));
  max-width: 600px;
}

@media only screen and (min-width: 608px){
  .mobile-text{
    padding: 0;
    width: 100%;
  }
}

main{
  max-width: 600px;
  margin: 0 auto;
}

header{
  background-color: var(--primary-color);
  color: white;
  height: calc(13 * var(--base-unit));
  display: flex;
  justify-content: center;
}
header h3{
  /* margin-top: calc(3 *var(--base-unit)); */
  margin: 0;
  line-height: calc(13 * var(--base-unit));
  /* line-height: calc(13 * var(--base-unit)); */
}

nav{
  height: calc(8 * var(--base-unit));
  background-color: var(--primary-color);
  border-top: 1px solid var(--secondary-color);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

nav div.no-scroll{
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  box-sizing: content-box;
  overflow-x: auto;
  overflow-y: hidden;
}

nav ul{
  width: auto;
  display: flex;
  flex-direction: row;
  overflow-x: show;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  line-height: calc(8 * var(--base-unit));
  color: white;
  text-decoration: none;
  margin-right: calc(5 * var(--base-unit))
}

nav ul li a:hover{
  color: #ccc
}

nav ul li a.active{

}

.intro-text {
  font-size: large;
}

div.input-module{
  margin-top: calc( 8 * var(--base-unit));
}

label{
  display: block;
  margin-top: calc( 3 * var(--base-unit));
  font-weight: bold;
}

input, textarea, select{
  padding: calc(2 * var(--base-unit));
  color: var(--text-color);
  background: var(--light-gray);
  border: none;
  line-height: 1.5rem;
  font-size: 1rem;
  margin-top: calc( 2 * var(--base-unit));
  width: 60%;
}

input{
  line-height: 1rem;
}

textarea{
  width: calc( 100% - calc(4 * var(--base-unit)));
  height: calc( 34 * var(--base-unit));
  resize: none;
}

select{
  height: 34px;
}

button{
  padding: calc(2 * var(--base-unit));
  color: var(--text-color);
  background: var(--primary-color);
  border: none;
  color: white;
  font-weight: bold;
  line-height: 1.5rem;
  font-size: 1rem;
  margin-top: calc( 8 * var(--base-unit));
  border-radius: var(--base-unit)
}
